<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
{%load static %}
<link rel="stylesheet" href="{% static 'style.css'%}">


<div class="container">
  <title>Home</title>

   <form action="/imageupload/imageprocess" method="post" enctype="multipart/form-data"  >
{% csrf_token %}
     <h2>Welcome</h2>
     <p>Choose an image</p>

     <input id="image" type="file"  name="image" accept="image/*" placeholder="">
     <input type="submit"  value="submit">
   </form>



</div>
